<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Blog</h1>
    <h4>August 4, 2022</h4>
    <p>Korean director Bong Joon-ho has started filming his new sci-fi film under the working title of “Mickey7” at Warner Bros. Studios Leavesden in the UK.

        Many popular movies, including films from the “Harry Potter,” “Kingsman, “ and “Mission Impossible” franchises, were filmed at Warner Bros. Studios Leavesden.
        
        Bong is scheduled to finish shooting by the end of this year, with the film‘s release expected at the end of 2023 or the beginning of 2024.
        
        Bong’s new English-language movie is based on “Mickey7,” a US science-fiction novel on clones by Edward Ashton.
        
        The novel tells the story of Mickey7, a disposable clone who is sent to colonize the ice world Niflheim.</p>
</body>
</html>

